<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fundoozz.spellquest"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.fundoozz.spellquest.MainActivity"
            android:label="@string/app_name"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fundoozz.spellquest.TreasureActivity"
            android:label="@string/title_activity_treasure" >
        </activity>
        <activity
            android:name="com.fundoozz.spellquest.SpellQuizActivity"
            android:label="@string/title_activity_spell_quiz" >
        </activity>
        <activity
            android:name="com.fundoozz.spellquest.VocabQuizActivity"
            android:label="@string/title_activity_vocab_quiz" >
        </activity>
        <activity
            android:name="com.fundoozz.spellquest.LearnWordsActivity"
            android:label="@string/title_activity_learn_words" >
        </activity>
        <activity
            android:name="com.fundoozz.spellquest.AddWordsActivity"
            android:label="@string/title_activity_add_words" >
        </activity>
        <activity
            android:name="com.fundoozz.spellquest.FindWordsActivity"
            android:label="@string/title_activity_find_words" >
        </activity>
        <activity
            android:name="com.fundoozz.spellquest.WordListDetailActivity"
            android:label="@string/title_activity_word_list_detail" >
        </activity>
    </application>

</manifest>
